@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model AppStudentOfFaculty.Dto.Contribution.ContributionCommentDto
<div class="category-management">
    @await Html.PartialAsync("_breadcrumb", new Dictionary<string, string>
    { { "Contribution", "Contribution of student" }, { "C", "Edit" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("Index", "Contribution", new { area = "" }) }, { "mShowButton", "false" } })

    @using (Html.BeginForm("UploadFile", "Contribution", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal needs-validation", @enctype = "multipart/form-data" }))
    {
        <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <fieldset style="width: 100%">
                            <legend>Information form</legend>
                            <div class="first-step-group-criteria" style="padding-top:10px; margin-bottom: 10px;">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label>Please choose file: <sup class="text-danger">*</sup></label>
                                                @Html.TextBoxFor(model => model.Content, new { @class = "form-control", placeholder = "Content", @autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-right">
                            <a href="@Url.Action("Index","Contribution")" class="btn btn-outline-secondary">Cancel</a>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
