@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model AppStudentOfFaculty.Dto.Faculty.FacultyDto
<div class="account-management">
    @await Html.PartialAsync("_breadcrumb", new Dictionary<string, string>
    { { "Home", "Homepage" }, { "Faculty", "Faculty Info" }, { "C", "Add" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("Index", "Faculty") }, { "mShowButton", "false" } })

    @using (Html.BeginForm("New", "Faculty", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal needs-validation", @enctype = "multipart/form-data" }))
    {
        @await Html.PartialAsync("_Form", Model)
    }
</div>

