@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model AppStudentOfFaculty.Dto.Department.DepartmentDto
<div class="category-management">
    @await Html.PartialAsync("_breadcrumb", new Dictionary<string, string>
    { { "Home", "Homepage" }, { "Department", "Department Info" }, { "C", "Edit" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("Index", "Department", new { area = "" }) }, { "mShowButton", "false" } })

    @using (Html.BeginForm("Edit", "Department", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal needs-validation", @enctype = "multipart/form-data" }))
    {
        @await Html.PartialAsync("_Form", Model)
    }
</div>
